<form>
    <div class="form-group">
        <label>Weapon:</label>
        <select id="weapon">
            {{#each weapons}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label>Poison:</label>
        <select id="poison">
            {{#each poisons}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    {{#if hasPoisonCoat}}
    <div class="form-group">
        <label for="poison-coat">Activate Poison Coat feat (skip weapon validation)</label>
        <input type="checkbox" id="poison-coat" />
    </div>
    {{/if}}
</form>
